@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#c3d7fd, #4f7cb0);
}

.wel {
  font-family: 'Caveat', cursive;
}

.login-form {
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}